<!DOCTYPE html>
<html>
  <head>
    <title>Title page</title>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/application.css")'>
    <script src='@routes.Assets.versioned("javascripts/jquery-2.1.4.min.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/application.js")'></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cat manager</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active" id="all-cats-page"><a href="/">All cats <span class="sr-only">(current)</span></a></li>
            <li id="cat-form-page"><a>Create new cat <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="content" class="container">
    </div>
  </body>
</html>

<script>
  loadAllCats();
</script>